.cover {
  position: relative;
  height: 160px;
  width: 100%;
  background-color: gray;
  background-image: linear-gradient(
      rgba(251, 251, 251, 0.6),
      rgba(200, 200, 200, 0.6)
    ),
    url(../img/bg.jpg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
}

.avatar {
  position: absolute;
  margin: 0px 0px 0px 38px;
  border-radius: 50%;
  overflow: hidden;

  // @media screen and (min-width: 768px) {
  //   margin: 55px 5px 0px;
  // }
  // @media screen and (min-width: 1200px) {
  //   margin: 45px;
  // }

  &__img {
    width: 340px;

    @media screen and (min-width: 768px) {
      width: 200px;
    }
    @media screen and (min-width: 1200px) {
      width: 340px;
    }
  }
}
