.main {
  display: inline-flex;

  .aside {
    width: 430px;
    background-color: #e3e3e3;
  }

  .indent {
    padding-top: 245px;
  }

  .main-info {
    width: 690px;

    background-color: #ececec;
  }
}

// <!-- Aside info -- >
.list__item {
  margin-bottom: 7px;

  &-name {
    padding-right: 15px;
  }

  &-link {
    display: inline-block;
    text-decoration: none;
    color: black;
  }
}

.block {
  padding: 15px 30px;

  &__title {
    margin-bottom: 15px;
    color: #fbad0f;
    text-transform: uppercase;
  }
}

// <!-- Main info -->
.name {
  padding: 15px 30px;

  .full-name {
    margin-bottom: 25px;

    font-size: 3em;
    color: #fbad0f;
    text-transform: uppercase;
  }

  .position {
    margin-bottom: 20px;

    font-size: 2em;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;
    line-height: 1.26;

    text-transform: uppercase;
  }
}

.pro__list {
  .list__item {
    margin-bottom: 30px;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7px;
    }

    &-title {
      font-size: 1em;
      font-style: normal;
      font-weight: 800;
      letter-spacing: 0.1em;
      line-height: 1.26;

      text-transform: uppercase;
    }
    &-link {
      font-style: italic;
      font-weight: 600;
      color: gray;

      text-decoration: none;
    }

    & div ~ p {
      margin-bottom: 10px;
    }

    &-paragraph {
      padding-right: 15px;

      font-weight: 700;
    }
  }
}

.work__list {
  .list__item {
    margin-bottom: 30px;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7px;
    }

    &-title {
      font-size: 1em;
      font-style: normal;
      font-weight: 800;
      letter-spacing: 0.1em;
      line-height: 1.26;

      text-transform: uppercase;
    }

    &-subtitle {
      font-style: italic;
      font-weight: 600;

      text-transform: uppercase;
    }

    a {
      text-decoration: none;
      color: gray;
    }

    ul {
      padding: 0px 20px;
    }

    ul > li {
      margin-bottom: 7px;
      list-style: square;
    }
  }
}

.edu__list {
  .list__item {
    margin-bottom: 30px;

    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 7px;
    }

    &-title {
      font-size: 1em;
      font-style: normal;
      font-weight: 800;
      letter-spacing: 0.1em;
      line-height: 1.26;

      text-transform: uppercase;
    }

    &-subtitle {
      font-style: italic;
      font-weight: 600;
      color: gray;

      text-transform: uppercase;
    }

    a {
      text-decoration: none;
      color: gray;
    }
  }
}
